<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @timeline.text %>
</p>

<p>
  <strong>Time:</strong>
  <%= @timeline.time %>
</p>


<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<%= link_to 'Back', timelines_path %>
